@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color:#37505c;
    color: #FFEAD0;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pw-container{
    background-color: #113537;
    width:500px;
    box-shadow: 5px 10px 8px rgba(0,0,0,0.2);
    z-index:2;

}

.pw {
    background-color:#37505c;
    height: 70px;
    width:100%;
    position: relative;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.pw button{
    font-family: inherit;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -20%);
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 0.25rem;
    opacity:0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, -90%)
}

.pw-header {
    padding: 1rem;
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    display:flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.generate {
    background-color: #FFFFFF;
    display:block;
    border: none;
    font-size: 1rem;
    padding : 0.5rem;
    width: 100%;
    margin-top: 2rem;
}


.footer {
    position: absolute;
    top: 1;
    bottom: 0;
    font-size: 2rem;
    width:100%;
    background-color:#113537;
    text-align: center;
    padding: 2rem;
    opacity:0;
    transition: opacity 0.2s ease;
    z-index: 1;

}

.footer-active {
    opacity: 1;
    transform: translate(0, 0%);
    z-index: 1;
    
}
